<?xml version="1.0"?>

<!--
# Custom support for an Intel RealSense D455.
# Visual mesh is provided as a DAE asset for RViz compatibility.
-->

<robot name="support_camera_d455" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find realsense2_description)/urdf/_materials.urdf.xacro" />

  <xacro:macro name="support_camera_d455" params="parent *origin name:=d455_support">
    <!-- Approximate support envelope extracted from the CAD bounding box. -->
    <xacro:property name="support_size_x" value="0.170" />
    <xacro:property name="support_size_y" value="0.12517766953" />
    <xacro:property name="support_size_z" value="0.020" />
    <xacro:property name="support_center_x" value="0.0" />
    <xacro:property name="support_center_y" value="0.044911165235" />
    <xacro:property name="support_center_z" value="0.010" />
    <xacro:property name="support_offset_x" value="-0.010" />
    <xacro:property name="support_offset_z" value="-0.059" />

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${name}_link" />
    </joint>

    <link name="${name}_link">
      <visual>
        <origin xyz="${support_offset_x} 0 ${support_offset_z}" rpy="1.57079632679 0 -1.57079632679" />
        <geometry>
          <mesh filename="package://realsense2_description/meshes/Support-camera-d455.dae" scale="0.001 0.001 0.001" />
        </geometry>
      </visual>

      <collision>
        <origin xyz="${support_center_x + support_offset_x} ${support_center_y} ${support_center_z + support_offset_z}" rpy="1.57079632679 0 -1.57079632679" />
        <geometry>
          <box size="${support_size_x} ${support_size_y} ${support_size_z}" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
