<?xml version="1.0"?>
<robot name="realsense2_d455_support_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="use_nominal_extrinsics" default="false" />
  <xacro:arg name="add_plug" default="false" />
  <xacro:arg name="camera_x" default="0.0" />
  <xacro:arg name="camera_y" default="0.0" />
  <xacro:arg name="camera_z" default="0.02" />
  <xacro:arg name="camera_roll" default="0.0" />
  <xacro:arg name="camera_pitch" default="0.0" />
  <xacro:arg name="camera_yaw" default="0.0" />

  <xacro:include filename="$(find realsense2_description)/urdf/_support_camera_d455.urdf.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d455.urdf.xacro" />

  <link name="base_link" />

  <xacro:support_camera_d455 parent="base_link" name="d455_support">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:support_camera_d455>

  <xacro:sensor_d455 parent="d455_support_link" name="camera" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin
      xyz="$(arg camera_x) $(arg camera_y) $(arg camera_z)"
      rpy="$(arg camera_roll) $(arg camera_pitch) $(arg camera_yaw)" />
  </xacro:sensor_d455>
</robot>
