<?xml version="1.0"?>
<robot name="ur10_d455_support_rg2ft" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="name" default="ur10_d455_support_rg2ft" />
  <xacro:arg name="ur_type" default="ur10" />
  <xacro:arg name="tf_prefix" default="" />

  <xacro:arg name="joint_limit_params" default="$(find ur_robot_description_cb2)/config/$(arg ur_type)/joint_limits.yaml" />
  <xacro:arg name="kinematics_params" default="$(find ur_robot_description_cb2)/config/$(arg ur_type)/default_kinematics.yaml" />
  <xacro:arg name="physical_params" default="$(find ur_robot_description_cb2)/config/$(arg ur_type)/physical_parameters.yaml" />
  <xacro:arg name="visual_params" default="$(find ur_robot_description_cb2)/config/$(arg ur_type)/visual_parameters.yaml" />

  <xacro:arg name="base_x" default="0.0" />
  <xacro:arg name="base_y" default="0.0" />
  <xacro:arg name="base_z" default="0.0" />
  <xacro:arg name="base_roll" default="0.0" />
  <xacro:arg name="base_pitch" default="0.0" />
  <xacro:arg name="base_yaw" default="0.0" />

  <xacro:arg name="mount_x" default="0.0" />
  <xacro:arg name="mount_y" default="0.058" />
  <xacro:arg name="mount_z" default="0.02" />
  <xacro:arg name="mount_roll" default="-1.57079632679" />
  <xacro:arg name="mount_pitch" default="-1.57079632679" />
  <xacro:arg name="mount_yaw" default="0.0" />

  <xacro:arg name="camera_x" default="0.0" />
  <xacro:arg name="camera_y" default="0.0" />
  <xacro:arg name="camera_z" default="0.02" />
  <xacro:arg name="camera_roll" default="0.0" />
  <xacro:arg name="camera_pitch" default="0.0" />
  <xacro:arg name="camera_yaw" default="0.0" />

  <xacro:arg name="gripper_x" default="0.0" />
  <xacro:arg name="gripper_y" default="0.0" />
  <xacro:arg name="gripper_z" default="0.013" />
  <xacro:arg name="gripper_roll" default="0.0" />
  <xacro:arg name="gripper_pitch" default="0.0" />
  <xacro:arg name="gripper_yaw" default="0.0" />
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />

  <xacro:arg name="use_nominal_extrinsics" default="false" />
  <xacro:arg name="add_plug" default="false" />

  <xacro:include filename="$(find ur_robot_description_cb2)/urdf/ur_macro.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_support_camera_d455.urdf.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d455.urdf.xacro" />
  <xacro:include filename="$(find onrobot_rg2ft_description)/urdf/onrobot_rg2ft_macro.xacro" />

  <link name="world" />

  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    generate_ros2_control_tag="false">
    <origin
      xyz="$(arg base_x) $(arg base_y) $(arg base_z)"
      rpy="$(arg base_roll) $(arg base_pitch) $(arg base_yaw)" />
  </xacro:ur_robot>

  <xacro:onrobot_rg2ft
    prefix="gripper_"
    parent="$(arg tf_prefix)tool0"
    hw_interface="$(arg transmission_hw_interface)">
    <origin
      xyz="$(arg gripper_x) $(arg gripper_y) $(arg gripper_z)"
      rpy="$(arg gripper_roll) $(arg gripper_pitch) $(arg gripper_yaw)" />
  </xacro:onrobot_rg2ft>

  <xacro:support_camera_d455 parent="$(arg tf_prefix)tool0" name="d455_support">
    <origin
      xyz="$(arg mount_x) $(arg mount_y) $(arg mount_z)"
      rpy="$(arg mount_roll) $(arg mount_pitch) $(arg mount_yaw)" />
  </xacro:support_camera_d455>

  <xacro:sensor_d455
    parent="d455_support_link"
    name="camera"
    use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin
      xyz="$(arg camera_x) $(arg camera_y) $(arg camera_z)"
      rpy="$(arg camera_roll) $(arg camera_pitch) $(arg camera_yaw)" />
  </xacro:sensor_d455>
</robot>
